<div class="container text-center">
    <div class="display-6 mt-5">
        <h1>Dog's System</h1>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img [src]="dog1.message" width="400px" class="shadow rounded">
        </div>
        <div class="col">
            <img [src]="dog2.message" width="400px" class="shadow rounded">
        </div>
        <div class="col">
            <img [src]="dog3.message" width="400px" class="shadow rounded">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <span *ngFor="let name1 of getName1()">
                {{name1 | titlecase}}
            </span>
        </div>
        <div class="col">
            <span *ngFor="let name2 of getName2()">
                {{name2 | titlecase}}
            </span>
        </div>
        <div class="col">
            <span *ngFor="let name3 of getName3()">
                {{name3 | titlecase}}
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-dark btn-lg">New Dog 1</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-dark btn-lg">New Dog 2</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-dark btn-lg">New Dog 3</button>
        </div>
    </div>
</div>
