<div class="container text-center">
    <div class="display-6 mt-5">
        <h1>Dog's System</h1>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="https://images.dog.ceo/breeds/spaniel-cocker/n02102318_10355.jpg" width="400px" class="shadow rounded">
        </div>
        <div class="col">
            <img src="https://images.dog.ceo/breeds/terrier-welsh/lucy.jpg" width="400px" class="shadow rounded">
        </div>
        <div class="col">
            <img src="https://images.dog.ceo/breeds/mountain-swiss/n02107574_1033.jpg" width="400px" class="shadow rounded">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h3>Dog 1</h3>
        </div>
        <div class="col">
            <h3>Dog 2</h3>
        </div>
        <div class="col">
            <h3>Dog 3</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary">New Dog</button>
        </div>
        <div class="col">
            <button class="btn btn-primary">New Dog</button>
        </div>
        <div class="col">
            <button class="btn btn-primary">New Dog</button>
        </div>
    </div>
</div>
